* {
    background-image: url('./Itachi-4k-Wallpaper-for-Desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.submit {
    color: skyblue;
    background-color: darkblue;
    text-decoration: none;
}
select{
    background-color: darkblue;
}